ion-toolbar {
 --border-color: #ffffff;
 --padding-top: 0px;
}

.header-md:after {
 background-image: none !important;
}

ion-segment-button {
 font-size: 16px;
 color: var(--ion-color-medium);
 border: 0px;
 border-radius: 0px;
}

.segment-button-checked {
 background: #fff;
 color: var(--ion-color-primary);
 border-bottom: 3px solid var(--ion-color-primary);
}

ion-segment {
 height: 50px;
}

ion-header ion-toolbar:first-child {
 padding-top: 5px;
}

.tab-selected {
 color: var(--ion-color-danger);
 border-bottom: 1px solid aquamarine;
}
